<div class="grid grid-pad">

<div class='col-1-1 title'>

Voting Session ! 
</div>


<% @feedback_items.each do |feedback_item| %>

	<div id ='<%=feedback_item.id%>' class='col-1-2 feedback <%=feedback_item.theme %>' data-theme='<%=feedback_item.theme %>' >
	
	<div id="container" class=''>
			<div id="card" class="<%=feedback_item.theme %> card show-back" >
				<div id="front" class="front face">
				<% if  feedback_item.start =='sad'%>
				<img src="/assets/<%=feedback_item.theme %>-happy.gif"/>
				<% else%>
				<img src="/assets/<%=feedback_item.theme %>-sad.gif"/>
				<%end%>
				
				</div>
				<div id="right" class="right face">
				<img src="/assets/<%=feedback_item.theme %>-ok.gif"/>
				</div>
				<div id="back" class="back face">
				<% if  feedback_item.start =='sad'%>
				<img src="/assets/<%=feedback_item.theme %>-sad.gif"/>
				<% else%>
				<img src="/assets/<%=feedback_item.theme %>-happy.gif"/>
				<%end%>
				</div>
			</div>
		</div>
	   <h3><%=feedback_item.title %></h3>
		<p><%=feedback_item.description %></p>
	<input name="<%=feedback_item.id %>"  value=1 type="radio" class="star {split:1}" checked=true/> 
	<input name="<%=feedback_item.id %>"  value=2 type="radio" class="star {split:1}"/>
	<input name="<%=feedback_item.id %>"  value=3 type="radio" class="star {split:1}"/>
	<input name="<%=feedback_item.id %>"  value=4  type="radio" class="star {split:1}"/>
	<input name="<%=feedback_item.id %>"  value=5 type="radio" class="star {split:1}"/>
</div>
<%end%>


<script>
$('.star').rating({ callback: function(value, link){ 
   var id  = $(link).parent().parent().parent().attr('id');
   var themeselect= '#'+id;
   var inp_select= 'form[name=temp] #input-'+id;
    if(value!='undefined')
    {
      value=parseInt(value);
      $(inp_select).val(value);
      if(value <3)
        $(themeselect+' .card').attr('class', 'card show-back');
      else if (value <=3)
        $(themeselect+' .card').attr('class', 'card show-right');
      else {
        $(themeselect+' .card').attr('class', 'card show-front');

    }
    }


   } });
    function flip(event)
{
           var element = event.currentTarget;

    var targetClassName = element.className;

    
    if(targetClassName == 'card show-front')
        element.className = 'card show-right';
    else if(targetClassName == 'card show-right')
        element.className = 'card show-back';
    else if(targetClassName == 'card show-back')
        element.className = 'card show-front';         
}


function weighted_average(comma_seperated,total_votes)
{

	var values=comma_seperated.split(',');
	var counted=countin(values)[0];
	var counts=countin(values)[1];
	var numerator=0,denominator=total_votes;

	for(var i=0;i<counted.length;i++){
	var item=parseInt(counted[i]);
	numerator=numerator+(item * counts[i]);
	}
	var average=0;
	if(denominator>0){
	 average=numerator / denominator;
	average = (average).toFixed(1);
	}
	return average;
}

function countin(arr) {
    var a = [], b = [], prev;

    arr.sort();
    for ( var i = 0; i < arr.length; i++ ) {
        if ( arr[i] !== prev ) {
            a.push(arr[i]);
            b.push(1);
        } else {
            b[b.length-1]++;
        }
        prev = arr[i];
    }

    return [a, b];
}



$(function() // execute once the DOM has loaded
{
var votes=0;
$('form[name=temp] input').each(function(){
if(this.id != "")
this.value=1;
});
$('form[name=feedbacks] input').each(function(){
if(this.id != "" & this.type!='submit')
this.value=0;
});

$('#feedbackSubmit').click(function(event){
event.preventDefault();
if(votes<=0)
{
	alert("No Votes Registered !");
	return;
}
if(confirm('Do you want to Finish this Session?'))
{

	$('form[name=feedbacks] input').each(function(){
		if(this.id != "" & this.type!='submit' & this.id.indexOf('combined')<0)
		{
		this.value=weighted_average(this.value,votes);
		}
	});

$('form[name=feedbacks]').submit();
}
});


$('#feedbackNext').click(function(event){
event.preventDefault();
votes+=1;
$('form[name=temp] input').each(function(){
	if(this.id != ""& this.type!='submit' & this.id.indexOf('combined')<0)
	{
		var currentvalue =$('form[name=feedbacks] input#'+this.id).val();
		var rating=parseInt(this.value);
		var newvalue=currentvalue+','+rating;
		$('form[name=feedbacks] input#'+this.id).val(newvalue);
		var combined_id=this.id.replace('input-' ,'');
		combined_id='combined-'+combined_id;
		$('form[name=feedbacks] input#'+combined_id).val(newvalue);
			
	}
	
 });
 
$('.star').rating('select',0); 
$('#totvotes').html(votes);
alert("Thanks for Voting!");
 
});


});





</script>

<div class='col-1-1 buttons'>
<div class='votedisplay'>
	Total Votes : <span id='totvotes'>0</span>
</div>
<input name="next" id='feedbackNext'type="button"  class='btn btn-primary'value=" Record my Vote &gt;"/>


<%= form_tag("#",name:'temp', method: "post") do %>
<% @feedback_items.each do |feedback_item| %>
<input type='hidden' id='input-<%=feedback_item.id%>'name='feed<%=feedback_item.id%>' value='0'>
<input type='hidden' id='combined-<%=feedback_item.id%>'name='combined<%=feedback_item.id%>' value='0'>
<%end%>
<%end%>
<%= form_tag("/session/end",name:'feedbacks', method: "post") do %>
<% @feedback_items.each do |feedback_item| %>
<input type='hidden' id='input-<%=feedback_item.id%>'name='feed<%=feedback_item.id%>' value='0'>
<input type='hidden' id='combined-<%=feedback_item.id%>'name='combined<%=feedback_item.id%>' value='0'>
<%end%>
<input id='feedbackSubmit'name="commit" type="submit"  class='btn btn-primary'value=" Finish the Session " />
<%end%>
</div>

</div>
